.App {
  width: 100vw;
  height: 100vh;
}

body {
  margin-top: 55px;
  text-align: center;
  align-content: center;
  font-family: 'Orbitron', sans-serif;
  color: white;
  background-image: url('https://i.imgur.com/PgKuIlm.jpg');
  background-size: cover;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 9rem);
  grid-template-rows: repeat(3, 9rem);
  justify-content: center;
  place-items: center;
}

.square {
  display: grid;
  width: 8rem;
  height: 8rem;
  place-content: center;
  text-align: center;
  box-shadow: 0px 0px 18px purple;
  border-radius: 12px;
  cursor: pointer;
  font-size: 65px;
  text-shadow: 0 0 8px #fff, 0 0 18px #fff, 0 0 18px #fff;
  background-color: rgba(255, 255, 255, 0.35);
}

.square:hover {
  box-shadow: 10px 10px 45px white;
}

.x {
  color: blueviolet;
  text-shadow: 0 0 8px #fff, 0 0 18px #fff, 0 0 18px #fff;
}

.o {
  color: deeppink;
  text-shadow: 0 0 8px #fff, 0 0 18px #fff, 0 0 18px #fff;
}

.scoreboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 20rem;
  font-size: 2.5rem;
  margin: 3rem auto;
  border-radius: 0.65rem;
  font-weight: bold;
}

.score {
  width: 100%;
  box-shadow: 0px 0px 8px white;
  border: none;
  border-radius: 12px;
  text-align: center;
  padding: 1rem 0rem;
  text-shadow: 0 0 8px #fff, 0 0 18px #fff, 0 0 18px #fff;
}

.x-score {
  margin-right: 12px;
  color: blueviolet;
  border-bottom: 5px solid mediumblue;
  border-radius: 0.6rem;
  background-color: rgba(105, 118, 255, 0.5);
  box-shadow: 10px 10px 45px white;
}

.o-score {
  color: deeppink;
  margin-left: 12px;
  border-bottom: 5px solid blue;
  border-radius: 0.6rem;
  box-shadow: 10px 10px 45px white;
  background-color: rgba(105, 118, 255, 0.6);
}

.inactive {
  border-bottom: 5px solid transparent;
  box-shadow: none;
}

.rules {
  font-size: 2rem;
  background: -webkit-linear-gradient(#eee, #8a2be2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button {
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 18px white;
  background-color: rgb(148, 10, 79, 0.7);
  color: white;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  margin: 2rem auto;
  display: block;
}

button:hover {
  box-shadow: 10px 10px 45px white;
}

.animate {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 2rem;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
