.App {
  width: 100vw;
  height: 100vh;
}

body {
  margin-top: 55px;
  text-align: center;
  align-content: center;
  font-family: 'Orbitron', sans-serif;
  color: white;
  text-shadow: 0 0 8px #fff, 0 0 18px #fff, 0 0 18px #fff;
  background-image: url('https://i.imgur.com/PgKuIlm.jpg');
  background-size: cover;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 9rem);
  grid-template-rows: repeat(3, 9rem);
  justify-content: center;
  place-items: center;
}

.box {
  display: grid;
  width: 8rem;
  height: 8rem;
  place-content: center;
  text-align: center;
  box-shadow: 0px 0px 18px purple;
  border-radius: 12px;
  cursor: pointer;
  font-size: 65px;
  background-color: rgba(255, 255, 255, 0.35);
}

.box:hover {
  box-shadow: 10px 10px 45px white;
}

.x {
  color: blueviolet;
}

.o {
  color: deeppink;
}

.scoreboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 20rem;
  font-size: 2.5rem;
  margin: 3rem auto;
  border-radius: 0.65rem;
  font-weight: bold;
}

.score {
  width: 100%;
  box-shadow: 0px 0px 8px white;
  border: none;
  border-radius: 12px;
  text-align: center;
  padding: 1rem 0rem;
}

.x-score {
  margin-right: 12px;
  color: blueviolet;
  border-bottom: 5px solid mediumblue;
  border-radius: 0.6rem;
  background-color: rgba(255, 105, 180, 0.6);
  box-shadow: 10px 10px 45px white;
}

.o-score {
  color: deeppink;
  margin-left: 12px;
  border-bottom: 5px solid blue;
  border-radius: 0.6rem;
  box-shadow: 10px 10px 45px white;
  background-color: rgba(255, 105, 180, 0.6);
}

.inactive {
  border-bottom: 5px solid transparent;
  box-shadow: none;
}

button {
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 18px white;
  background-color: rgba(255, 105, 180, 0.6);
  color: white;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  margin: 2rem auto;
  display: block;
}

button:hover {
  box-shadow: 10px 10px 45px white;
}

.draw {
  color: red;
}
