.App {
  width: 100vw;
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

body {
  margin-top: 55px;
  text-align: center;
  align-content: center;
  font-family: 'Orbitron', sans-serif;
  color: white;
  text-shadow: 0 0 7px #fff, 0 0 8px #fff, 0 0 18px #fff;
  background-color: rgb(52, 28, 99);
  /* background-image: url('https://i.imgur.com/TuAQkhD.jpg'); */
  background-size: cover;
}

.board {
  margin: auto;
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(3, 10rem);
  grid-template-rows: repeat(3, 10rem);
}

.box {
  flex: 33%;
  height: 100%;
  box-shadow: 0px 0px 18px white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 65px;
}

.box:hover {
  background-color: rgb(192, 251, 251);
  box-shadow: 0px 0px 15px #eb83f6;
}

.x {
  color: blueviolet;
}

.o {
  color: deeppink;
}

.scoreboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 20rem;
  font-size: 2rem;
  margin: 3rem auto;
  box-shadow: 0px 0px 0px white;
  border-radius: 0.65rem;
  font-weight: bold;
}

.score {
  width: 100%;
  box-shadow: 0px 0px 18px white;
  border: none;
  border-radius: 12px;
  text-align: center;
  padding: 1rem 0rem;
  color: #eb83f6;
}

.x-score {
  margin-right: 12px;
  color: #eb83f6;
  border-bottom: 5px solid #eb83f6;
  border-radius: 0.6rem;
}

.o-score {
  color: rgb(44, 135, 255);
  margin-left: 12px;
  border-bottom: 5px solid rgb(44, 135, 255);
  border-radius: 0.6rem;
}

.inactive {
  border-bottom: 5px solid transparent;
}

button {
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 18px white;
  background-color: transparent;
  color: white;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  margin: 2rem auto;
  display: block;
}

button:hover {
  background-color: aliceblue;
}
